<!DOCTYPE>
<html>
<head>
	<title>Gallery</title>
</head>
<body>
	<ul>
		<li><img src="http://lorempixel.com/output/city-h-c-526-583-1.jpg"></li>
		<li><img src="http://lorempixel.com/output/city-h-c-526-583-9.jpg"></li>
		<li><img src="http://lorempixel.com/output/nightlife-h-c-526-583-8.jpg"></li>
		<li><img src="http://lorempixel.com/output/people-h-c-526-583-4.jpg"></li>
		<li><img src="http://lorempixel.com/output/nightlife-h-c-526-583-10.jpg"></li>
		<li><img src="http://lorempixel.com/output/nature-h-c-526-583-9.jpg"></li>
	</ul>
</body>
</html>